.bar {
    fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.d3-chart {
	width: 100%;
	height: 400px;
}

.card {
	float: left;
	width: 33.333%;
	padding: .75rem;
	margin-bottom: 2rem;
	border: 0;
}
  
.card > img {
	margin-bottom: .75rem;
}
  
.card-text {
	font-size: 85%;
}